@use 'variables';

.mldi_card_base {
  background-color: variables.$base-color;
  border-radius: 6px;
  flex-basis: 100%;
  margin-left: 0px;
  margin-right: 0px;
  padding: 16px;
  font-family: variables.$default-font-family;

  .card_title {
    font-weight: 600;
    display: flex;
    align-items: center;

    .card_title_icon {
      width: 16px;
      height: 16px;
    }

    .card_title_text {
      font-family: variables.$default-font-family;
      font-size: 16px;
      color: #555555;
      margin-left: 8px;
      line-height: 100%;
    }
  }

  .card_body {
    font-family: variables.$default-font-family;
    font-size: 16px;
    margin-top: 16px;
  }

  .card_loading {
    $loading-height: 5em;

    margin-top: 16px;
    background-color: variables.$loading-color;
    height: $loading-height;
    overflow: hidden;
    border-radius: 4px;
    position: relative;

    @keyframes loading {
      0% {
        transform: translateX(-100%);
      }
      100% {
        transform: translateX(100%);
      }
    }

    &::before {
      content: '';
      display: block;
      height: $loading-height;
      width: 100%;
      background: linear-gradient(
        90deg,
        transparent,
        rgba(255, 255, 255, 0.5),
        transparent
      );
      position: absolute;
      animation: loading 2s linear infinite;
    }
  }
}

#plasmo-shadow-container {
  z-index: 1000 !important;
}
