@import 'variables';

.mldi_card_base {
  background-color: $base-color;
  border-radius: 6px;
  flex-basis: 100%;
  margin-left: 0px;
  margin-right: 0px;
  padding: 16px;
  font-family: $default-font-family;

  .card_title {
    font-weight: 600;
    display: flex;
    align-items: center;

    .card_title_icon {
      width: 16px;
      height: 16px;
    }

    .card_title_text {
      font-family: $default-font-family;
      font-size: 16px;
      color: #555555;
      margin-left: 8px;
      line-height: 100%;
    }
  }

  .card_body {
    font-family: $default-font-family;
    font-size: 16px;
    margin-top: 16px;
  }
}

#plasmo-shadow-container {
  z-index: 1000 !important;
}
