@import 'variables';

.mldi_word_card {
  padding: 10px;
  background-color: $base-color;
  border-radius: 6px;
  width: 400px;
  height: 150px;
  margin: 0px;
  padding: 10px;
  display: flex;
  flex-flow: column;
  filter: drop-shadow(3px 3px 2px gray);
  z-index: 1001;

  .word {
    font-family: $default-font-family;
    font-weight: 600;
    width: 100%;
  }

  .description {
    font-family: $default-font-family;
    margin-top: 4px;
    flex: 1;
    width: 100%;
    overflow: auto;
    height: 100px;
  }

  .tags {
    font-family: $default-font-family;
    margin-top: 4px;
    width: 100%;
    height: 20px;

    .tag {
      font-family: $default-font-family;
    }
  }

  .bubble_tip {
    width: 15px;
    height: 10px;
    background-color: $base-color;
    border: none;
  }

  .loading {
    background-color: $loading-color;
    overflow: hidden;
    border-radius: 4px;
    position: relative;
    width: 100%;
    height: 100%;

    @keyframes loading {
      0% {
        transform: translateX(-100%);
      }
      100% {
        transform: translateX(100%);
      }
    }

    &::before {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        90deg,
        transparent,
        rgba(255, 255, 255, 0.5),
        transparent
      );
      position: absolute;
      animation: loading 2.5s infinite;
    }
  }
}
